# Ignore all hidden files/dirs except .github/
.*
!.github/

node_modules
*~
playground
tmp
dist
ts-dist
/result
refs
Session.vim
/opencode.json
a.out
target

# Local dev files
opencode-dev
logs/
*.bun-build
tsconfig.tsbuildinfo
